build/
GLTelemetryPict.xcodeproj/xcuserdata/moxuse.xcuserdatad
GLTelemetryPict.xcodeproj/project.xcworkspace
*.swp
.DS_Store
*.lock
DerivedData/
*.xccheckout
xcuserdata/
*.xcuserstate
project.xcworkspace/
